.container {
  width: 100%;
  position: relative;
}

.container * {
  position: relative;
  z-index: 1;
  color: white;
  text-decoration: none;
}

.content {
  padding: 32px 0;
  align-items: center;
  /* height: 36px; */
  display: flex;
  gap: 8px;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content img {
  height: auto;
  width: 50%;
}

.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.copyright {
  display: flex;
  white-space: nowrap;
  font-size: 10px;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 900px) {
  .content {
    padding: 12px 32px;
    flex-direction: row;
  }

  .content a {
    font-size: smaller;
  }

  .content img {
    width: max-content;
    height: 24px;
  }
}