.container {
  padding: 0px 8px;
}

.topbar {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px; */
}

.menu {
  display: none;
  gap: 16px;
}

.menu a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: filter 200ms linear;
}

.menu a:hover {
  cursor: pointer;
  filter: opacity(50%);
}

@media only screen and (min-width: 640px) {
  .container {
    padding: 0px 16px;
  }

  .topbar {
    justify-content: space-between;
  }

  .menu {
    display: flex;
  }
}